
h1,h2,h3,h4 {
	font-family: 'Merriweather', serif;
}

#hero-image {
	background-color: #151515;
	background-image: url('images/hero-image2.jpg');
	background-size: 2000px 1000px;
	height: 400px;
}


#hero-image h1 {
	margin-top:70px;
	color: #fff;
	font-size: 80px;
}

#hero-image p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	color: #f6f6f6;
}

#hero-image span {
	font-family: 'Merriweather', serif;
	color: #e67e22;
}

#header {
	background-color: #2a2a2a;
}
#logo {
	color: #fff;
	padding: 9.5px 20px;
}
#logo a {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
}

#logo a span {
	color: #e67e22;
}
#logo a:hover {
	text-decoration: none;
}
#navigation {
	height: 40px;
}
#navigation ul {
	overflow: none;
	display: block;
	list-style: none;
}

#navigation ul li{

}
#navigation ul li a{
	color: #fff;
	padding-top: 9.5px;
	padding-bottom: 9.5px;
	display: block;
	text-align: center;
}
#navigation ul li a:hover {
	color: #e67e22;
	text-decoration: underline;
}


#about {
	padding-bottom: 20px;
}


#about h2 img {
	height: 40px;
	width: 40px;
	margin-right: 20px;
}


#about p {
	font-size: 1.1em;
	line-height: 140%;
}
